<a href="https://colab.research.google.com/github/seanzhu815/402/blob/main/402_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas            as pd   
import numpy             as np   
import scipy             as scp  
import matplotlib.pyplot as plt  
import os                as os   
from datetime import date as dd  # for dates
from scipy import optimize
from scipy import stats
import statsmodels.api as sm

# 1

In [ ]:
contract_number=42000
hedge_ratio=0.95
num_need_future=10000000
current_price=71

In [ ]:
con_need=(num_need_future*hedge_ratio)/contract_number
con_need

226.1904761904762

# 2

In [ ]:
future_price=75

In [ ]:
dollar_gains=(future_price-current_price)*con_need*contract_number
dollar_gains

38000000.0

# 4

In [ ]:
S0=0.73015
F0=0.72895
US_ir=0.001
T=1
t_ir=(S0/F0)*(1+US_ir)**(1/T)-1
t_ir*100

0.2647849646752132

#5

In [ ]:
S0=580
T=1
F0=510
rf=0.001
cost=0.02
CCY=(1/T)*np.log(S0/F0)+rf+cost
CCY*100

14.961737782209353

# Part2

In [ ]:
a=[1,2,3,4,5]
b=[80,80,80,80,1080]
r=[0.02,0.025,0.03,0.04,0.045]
d={'time':a,'cf':b,'r':r}
df=pd.DataFrame(data=d)
#c_y=df.iloc[0,0]/(1+r)
df['dr']=(1+df['r'])**df['time']
df['pv']=df['cf']/df['dr']
df

   time    cf      r        dr          pv
0     1    80  0.020  1.020000   78.431373
1     2    80  0.025  1.050625   76.145152
2     3    80  0.030  1.092727   73.211333
3     4    80  0.040  1.169859   68.384335
4     5  1080  0.045  1.246182  866.647130

In [ ]:
bp=df['pv'].sum()
bp

1162.8193224958086

In [ ]:
a=[1,2,3,4,5]
b=[1,1,1,1,101]
r=0.03
d={'time':a,'cf':b,'r':r}
df=pd.DataFrame(data=d)
#c_y=df.iloc[0,0]/(1+r)
df['dr']=(1+df['r'])**df['time']
df['pv']=df['cf']/df['dr']
df

   time   cf     r        dr         pv
0     1    1  0.03  1.030000   0.970874
1     2    1  0.03  1.060900   0.942596
2     3    1  0.03  1.092727   0.915142
3     4    1  0.03  1.125509   0.888487
4     5  101  0.03  1.159274  87.123487

In [ ]:
bp=df['pv'].sum()
bp

90.84058562561093

In [ ]:
horizon=2
duration=3
if horizon<duration:
  print('sell better when interests decrease')
else:
  print('sell better when interests increase')

sell better when interests decrease

In [ ]:
w=df['pv']*df['time']
duration=w/bp
duration=duration.sum()
duration

4.896191188391066

# (v)

In [ ]:
Pb=5
YTM_1=0.03
duration_3yr=2.5
YTM_2=0.03

Ph=((duration*Pb)/(1+YTM_1))/(duration_3yr/(1+YTM_2))
Ph

9.792382376782133

In [ ]:
new_YTM1=0.035
new_YTM2=0.033

Net_loss=(-Pb*(duration/(1+YTM_1))*(new_YTM1-YTM_1)+Ph*(new_YTM2-YTM_2)*(duration_3yr/(1+YTM_2)))*1000000
Net_loss

-47535.83678049585

# Part3

In [ ]:
Strike_a=155
Strike_b=165
Strike_c=175
Strike_d=185
call_a=23
call_b=17
call_c=12
call_d=8
put_a=9
put_b=13
put_c=18
put_d=24

## 1

In [ ]:
S0=168
max_loss=S0-Strike_a+put_a
max_loss

22

In [ ]:
breake_even=S0+put_a
breake_even

177

## 2

In [ ]:
max_profit=call_d+Strike_d-S0
max_profit

25

In [ ]:
break_even=S0-call_d
break_even

160

# 3

In [ ]:
max_loss=call_b-call_d
max_loss

9

In [ ]:
max_profit=Strike_d-Strike_b-max_loss
max_profit

11

In [ ]:
break_even=Strike_b+max_loss
break_even

174

## 4

In [ ]:
max_loss=call_b+put_b
max_loss

30

In [ ]:
break_even_low=Strike_b-max_loss
break_even_low

135

In [ ]:
break_even_hi=Strike_b+max_loss
break_even_hi

195

# 5

In [ ]:
max_loss=call_d-put_a+Strike_a-S0
max_loss

-14

In [ ]:
max_profit=call_d-put_a+Strike_d-S0
max_profit

16

In [ ]:
break_even=S0+(-(call_d-put_a))
break_even

169

## 6

In [ ]:
Strike_new=190
call_new=6
r=0
T=1
put_price=call_new+(Strike_new/(1+r)**T)-S0
put_price

28.0

#part4

In [20]:
r = 0.02                          # risk free rate
d =  1-0.1                         # return in down state
u =  1+0.1                         # return in up state
p =  (1+r-d)/(u-d)                         # risk neutral probability of up state
print(f'The probability is {p :.2f}.')

The probability is 0.60.

In [21]:
S0 =  50                                         # Fill in stock prices at all nodes
Su =   55         
Sd =   45 
Suu =  60.5
Sud = 49.5
Sdd = 40.5
K =   45                                         # Strike price
Cuu = max(Suu-K ,0)                                        # Calculate call payoff at all nodes
Cud =  max(Sud-K ,0)
Cdd =  max(Sdd-K ,0)
Cu = max((p*Cuu + (1-p)*Cud)/(1+r),Su-K)                 
Cd = max((p*Cud + (1-p)*Cdd)/(1+r),Sd-K)
C = (p*Cu + (1-p)*Cd)/(1+r)
print(f'The option price at node uu is {Cuu :.2f}.')
print(f'The option price at node du is {Cud :.2f}.')
print(f'The option price at node dd is {Cdd :.2f}.')
print(f'The option price at node u is {Cu :.2f}.')
print(f'The option price at node d is {Cd :.2f}.')
print(f'The option price at node 0 is {C :.2f}.')

The option price at node uu is 15.50.
The option price at node du is 4.50.
The option price at node dd is 0.00.
The option price at node u is 10.88.
The option price at node d is 2.65.
The option price at node 0 is 7.44.

## put(3,4,5)

In [22]:
S0 =  50                                         # Fill in stock prices at all nodes
Su =   55         
Sd =   45 
Suu =  60.5
Sud = 49.5
Sdd = 40.5
K =   52                                         # Strike price
Cuu = max(K-Suu ,0)                                        # Calculate call payoff at all nodes
Cud =  max(K-Sud ,0)
Cdd =  max(K-Sdd ,0)
Cu = max((p*Cuu + (1-p)*Cud)/(1+r),K-Su)                 
Cd = max((p*Cud + (1-p)*Cdd)/(1+r),K-Sd)
C_A = (p*Cu + (1-p)*Cd)/(1+r)
print(f'The option price at node uu is {Cuu :.2f}.')
print(f'The option price at node du is {Cud :.2f}.')
print(f'The option price at node dd is {Cdd :.2f}.')
print(f'The option price at node u is {Cu :.2f}.')
print(f'The option price at node d is {Cd :.2f}.')
print(f'The option price at node 0 is {C_A :.2f}.')

The option price at node uu is 0.00.
The option price at node du is 2.50.
The option price at node dd is 11.50.
The option price at node u is 0.98.
The option price at node d is 7.00.
The option price at node 0 is 3.32.

In [ ]:
S0 =  50                                         # Fill in stock prices at all nodes
Su =   55         
Sd =   45 
Suu =  60.5
Sud = 49.5
Sdd = 40.5
K =   52                                         # Strike price
Cuu = max(K-Suu ,0)                                        # Calculate call payoff at all nodes
Cud =  max(K-Sud ,0)
Cdd =  max(K-Sdd ,0)
Cu_E = (p*Cuu + (1-p)*Cud)/(1+r)            
Cd_E = (p*Cud + (1-p)*Cdd)/(1+r)
C_E = (p*Cu_E + (1-p)*Cd_E)/(1+r)

In [ ]:
C_A-C_E

0.39984621299500134

In [ ]:
delta=(Cu-Cd)/(Su-Sd)
delta

-0.6019607843137254

## 6

In [ ]:
buy_Ap=100
stock=delta*buy_Ap
print(f'sell {stock:.2f} stocks')

sell -60.20 stocks

#part5

In [ ]:
def BScholes(S,K,maturity, r, sigma, delta): 
    d1 = (np.log(S/K) + (r + sigma**2/2)*maturity)/(sigma*np.sqrt(maturity))
    d2 = d1 - sigma*np.sqrt(maturity)
    Nd1 = stats.norm.cdf(d1)
    Nd2 = stats.norm.cdf(d2)
    Nd1neg = stats.norm.cdf(-d1)
    Nd2neg = stats.norm.cdf(-d2)

    callprice = S*np.exp(-delta*maturity)*Nd1 - np.exp(-r*maturity)*K*Nd2
    putprice = np.exp(-r*maturity)*K*Nd2neg - S*np.exp(-delta*maturity)*Nd1neg
    return callprice, putprice, Nd1

In [ ]:
S0=50
rf=0.02
X=60
T=0.25
sigma=0.45
delta=0
c_value=BScholes(S0,X,T,rf,sigma,delta)
c_value[0]

1.503367459343126

##(2)

In [ ]:
c_value[2]

0.24964865189553542

In [ ]:
call = 2
put = 5
def callfunc(x):                                      # callfunc takes input the volatility x and ouptputs the call price
    return BScholes(S0,X,T, rf, x, delta)[0]

def putfunc(x):
    return  BScholes(S0,X,T, rf, x, delta)[1]                                   # Fill in the output for the putfunc

In [ ]:
impliedvol_call = (scp.optimize.minimize(lambda x: (callfunc(x) - call)**2, x0 = 0.2).x)[0]
print(f'The implied vol with call is {impliedvol_call*100 :.2f} percent.')

The implied vol with call is 51.03 percent.

In [ ]:
#impliedvol_put =  (scp.optimize.minimize(lambda x: (put-putfunc(x))**2, x0 = 0.2).x)[0]                           # Perform the optimization 
#print(f'The implied vol with put is {impliedvol_put*100 :.2f} percent.')