<a href="https://colab.research.google.com/github/seanzhu815/402/blob/main/402quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [183]:
import pandas            as pd   
import numpy             as np   
import scipy             as scp  
import matplotlib.pyplot as plt  
import os                as os   
from datetime import date as dd  
from scipy import optimize
from scipy import stats
import statsmodels.api as sm

In [184]:
datafile='/content/drive/MyDrive/MGTF402/JPMorganfund .xlsx'
data = pd.read_excel(datafile) 
df=pd.DataFrame(data)

# 1

In [185]:
df['excess_return']=df['JPM']-df['RF']

In [186]:
df

     Unnamed: 0       JPM  Mkt-RF   SMB   HML    RF  excess_return
0        199703 -2.868051   -5.02 -0.35  3.40  0.43      -3.298051
1        199704  3.515705    4.04 -5.78  0.07  0.43       3.085705
2        199705  6.112972    6.74  5.19 -4.12  0.49       5.622972
3        199706  3.163822    4.10  1.24  1.59  0.37       2.793822
4        199707  7.301207    7.33 -2.73  0.29  0.43       6.871207
..          ...       ...     ...   ...   ...   ...            ...
289      202104  4.249566    4.93 -3.11 -0.93  0.00       4.249566
290      202105  1.297171    0.29 -0.28  7.04  0.00       1.297171
291      202106  0.388054    2.79  1.80 -7.76  0.00       0.388054
292      202107  0.843176    1.19 -3.96 -1.75  0.00       0.843176
293      202108  1.994630    2.91 -0.45 -0.07  0.00       1.994630

[294 rows x 7 columns]

In [187]:
mod=sm.OLS(df['excess_return'],sm.add_constant(df['Mkt-RF']))
res=mod.fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [188]:
alpha=res.params[0]

In [189]:
alpha

0.013883750666609865

In [190]:
beta=res.params[1]

# 2

In [191]:
sigma=df['excess_return']-(beta*df['Mkt-RF'])-alpha

In [192]:
sigma

0      0.991814
1     -0.391753
2     -0.169251
3     -0.735075
4      0.573165
         ...
289    0.009093
290    1.034665
291   -2.017754
292   -0.190919
293   -0.514056
Length: 294, dtype: float64

In [193]:
IR=alpha/sigma.std()
IR=IR.mean()
IR

0.006941434705488074

# 3

In [194]:
SR1=df['excess_return']/df['JPM'].std()

In [195]:
SR1=SR1.mean()
SR1

0.14451632567784486

In [196]:
SR=df['excess_return']/df['excess_return'].std()

In [197]:
SR=SR.mean()
SR

0.1442290992901877

# 4

In [198]:
beta

0.8573203787433935

# 5

In [219]:
df['bull']=0
df['bear']=0

In [221]:
for i in range(df.shape[0]):
  if df.loc[i,'Mkt-RF']>=0:
    df.loc[i,'bull']=df.loc[i,'Mkt-RF']
  else:
    df.loc[i,'bull']=0

In [223]:
for i in range(df.shape[0]):
  if df.loc[i,'Mkt-RF']<0:
    df.loc[i,'bear']=df.loc[i,'Mkt-RF']
  else:
    df.loc[i,'bear']=0

In [225]:
df

     Unnamed: 0       JPM  Mkt-RF   SMB   HML    RF  excess_return  bull  bear
0        199703 -2.868051   -5.02 -0.35  3.40  0.43      -3.298051  0.00 -5.02
1        199704  3.515705    4.04 -5.78  0.07  0.43       3.085705  4.04  0.00
2        199705  6.112972    6.74  5.19 -4.12  0.49       5.622972  6.74  0.00
3        199706  3.163822    4.10  1.24  1.59  0.37       2.793822  4.10  0.00
4        199707  7.301207    7.33 -2.73  0.29  0.43       6.871207  7.33  0.00
..          ...       ...     ...   ...   ...   ...            ...   ...   ...
289      202104  4.249566    4.93 -3.11 -0.93  0.00       4.249566  4.93  0.00
290      202105  1.297171    0.29 -0.28  7.04  0.00       1.297171  0.29  0.00
291      202106  0.388054    2.79  1.80 -7.76  0.00       0.388054  2.79  0.00
292      202107  0.843176    1.19 -3.96 -1.75  0.00       0.843176  1.19  0.00
293      202108  1.994630    2.91 -0.45 -0.07  0.00       1.994630  2.91  0.00

[294 rows x 9 columns]

In [226]:
factors=df[['bull','bear']]

In [227]:
mod=sm.OLS(df['excess_return'],sm.add_constant(factors))

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [228]:
res=mod.fit()

In [229]:
res.params[1]

0.8875075939564931

In [230]:
res.params[2]

0.8301731299033673

# 6

In [231]:
print(f'It is {res.params[1]*10} %')

It is 8.875075939564931 %

In [233]:
print(f'It is {res.params[2]*10} %')

It is 8.301731299033673 %

# 7

In [234]:
factors=df[['Mkt-RF','SMB','HML']]

In [235]:
mod = sm.OLS(df['excess_return'],sm.add_constant(factors))

In [236]:
res=mod.fit()

## a

In [237]:
res.params[2]

-0.012167058616484264

## b

In [238]:
res.params[3]

0.011866257435271471